
body {
    background-color: #030303be;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 0;
    padding-bottom: 40px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
  }
  nav select {
    background-color: #333;
    font-size: 16px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    appearance: none;
    color: rgb(255, 255, 255);
  }
  #language-select {
    position: absolute;
    top: 5px;
    right: 60px;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    height: 50px;

  
  }


  .menu {
    position: absolute;
    top: 70px;
    left: 775px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }
  
  .menu a:hover {
    background-color: #ccc;
    color: #333;
    padding: 10px;
    border-radius: 5px;
  }

 

  .time-options {
    display: none;
    position: absolute;
    top: 50px;
    left: -23px;
    background-color: #0303037c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .show {
    display: block;
    }
    
    .time-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    }
    
    .time-options a:hover {
    background-color: #f1f1f1;
    }

  #click-area {
    background-color: #000103b9;
    color: #fff;
    width: 800px;
    height: 40px;
    margin: 300px auto;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
  }

  #timer {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 270px;
    left: 475px;
    width: 270px;
    font-size: 20px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
    }


  #click-area {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
  }

  #restart-button {
    position: absolute;
    top: 450px;
    left: 900px;
    background: linear-gradient(to bottom, #44f50f, #66ad09);
    color: #fff;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */

    }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 75px;
    font-size: 15px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
  }